.card-container
{
    display: flex;
    flex-wrap: wrap;
   max-width: 1100px;
    margin: auto;
    
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
  
}

.card
{
    display: flex;
    justify-content: space-between;
    background-color:rgba(46, 44, 44,0.4);
    backdrop-filter: blur(15px);
    color: white;
  max-width: 340px;
   padding: 1rem;
   margin-top: 2rem;
   border: 0.5px solid rgba(255, 255, 255, 0.5);
   border-radius: 1rem;


}


.imgbox img
{
    width: 133px;
    height: 133px;
    border-radius: 50%;
margin-right: 1rem
}

.content-area
{
display: flex;
flex-direction: column;
align-content: space-evenly;
    
}
.content-area button
{   width: 60px;
    padding: 4px 6px 4px 6px;
    margin-top: 1rem;
    margin-left: 6rem;
    background-color: #FF4343;
    color: white;
    border: 1px solid #FF4343;
    border-radius: 0.4rem;
    font-size: 0.7rem;
}
.content-area p{
    opacity: 0.8;
    margin-top: 0.5rem;
}
/* @media(max-width:1100px)
{
    .card-container
    {
        width: none;
    }
} */

@media(max-width:344px)
{
.card{
    max-width: 300px;
    padding: 0.2rem;
    margin-right: 0.3rem
}
.imgbox img
{
    width: 120px;
    height: 120px;
}
.content-area button
{ 
    margin-left: 4rem;
   
}

}